repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.0
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --select I --fix ]
    # Run the formatter.
    - id: ruff-format